body {
  font-family: $main-font-family;
  font-size: 14px;
}

/*******************************************************************************************/
// Headings
/*******************************************************************************************/

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: main-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 { font-size: $h1-fontsize; }
h2 { font-size: $h2-fontsize; }
h3 { font-size: $h3-fontsize; }
h4 { font-size: $h4-fontsize; }
h5 { font-size: $h5-fontsize; }
h6 { font-size: $h6-fontsize; }

